@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');


/* reset */
* 
{
	margin:0; padding:0; outline: 0;
    background:transparent;
    vertical-align:baseline;

    box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

img {border: 0;}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
}

article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section, main 
{
    display:block;
}

nav ul {list-style:none;}
table {border-collapse:collapse; border-spacing:0;}
input, select {vertical-align:middle;}

sup { vertical-align: super; }
sub { vertical-align: sub; }
/* end of reset */




html, body
  {
    position: relative;
    height: 100%;
  }

html { font-size: 100% }

body
  {
    visibility: hidden;
    opacity: 0;
    animation: 0.8s FadeIn linear forwards;
    min-height: 100%;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
  }

.screen
  {
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: url('back.jpg') no-repeat;
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

.content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 2rem;
    padding: 4rem;
}

article {
    box-sizing: border-box;
    color: #fff;
    overflow-y: scroll;
    
    padding: 2rem;
    background-color: rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.4);
    -webkit-backdrop-filter: blur(10px) invert(.3) opacity(.3);
    backdrop-filter: blur(10px) invert(.3) opacity(.3);
}


h2, p {
    margin-bottom: 2rem;
}

h1 {
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
}

i {
    text-align: center;
    display: none;
}

p:last-child { margin-bottom: 0; }

.button-section { text-align: center; }

.button {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
    background-color: #28cf3c;
    

    position: relative;

    transition: all 0.2s ease-in;
    transform-style: preserve-3d;
    transform: perspective( 200px ) rotateX( 5deg ) rotateY( 5deg );

    box-shadow: -5px 5px 0px rgba(0,0,0,0.5);
    max-width: 300px;
    animation: fly 2s linear infinite;
    animation-play-state: running;
}

.button:hover {
    transform: perspective( 0 ) rotateY( 0 );
    animation-play-state: paused;
    background-color: #00f11c;
}

@media screen and (max-width: 1100px) {
    html { font-size: 90%; }
}

@media screen and (min-width: 2000px) {
    html { font-size: 120%; }
}

@media screen and (max-width: 1000px) {
    .screen, .content i{ display: block; }
    .content h1, .content article { display: none; }

    .content { grid-template-rows: 80% 20%; }
    .content i { align-self: end; }
}


@keyframes FadeIn
  {
    0% {
      visibility: hidden;
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }

@keyframes Button {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes ButtonOff {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}


@keyframes Button {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes fly {
    0%, 100% {
    transform: translateY(0) perspective( 200px ) rotateX( 5deg ) rotateY( 5deg );
    }
    25% {
    transform: translateY(-8%) perspective( 200px ) rotateX( 8deg ) rotateY( 8deg );
    }
    85% {
    transform: translateY(8%) perspective( 200px ) rotateX( 5deg ) rotateY( 5deg );
    }
  }